/* General Body Styling */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #808080; /* Grey background */
    overflow: hidden; /* Prevents scrollbars */
}

/* Canvas Styling */
canvas {
    display: block;
    background: url('../public/Field.png') no-repeat center center;
    background-size: contain;
    outline: none;
    /* Allow dynamic resizing via JavaScript */
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
}

/* Start Button Styling */
#startButton {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    background-color: white;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
}

/* Game Duration Display */
#gameTimer {
    position: absolute;
    top: 60px; /* Below the scoreboard */
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px black;
    z-index: 1;
}

#gameInfo {
    position: absolute;
    top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: white;
    font-size: 18px;
    text-shadow: 2px 2px 4px black;
    z-index: 1;
}